
@font-face {
    font-family: "Quicksand";
    src: url("./Quicksand-Regular.ttf");
}
@font-face {
    font-family: "Quicksand";
    src: url("./Quicksand-Light.ttf");
    font-weight: lighter;
}
@font-face {
    font-family: "Quicksand";
    src: url("./Quicksand-Bold.ttf");
    font-weight: bold;
}

body, html {
    height: 100%;
    color: #ffffff;
    font-size: 1em;
    font-family: "Quicksand", sans-serif;
    overflow: hidden;

    background: url('./images/background.jpg') no-repeat top center fixed;
    background-size: cover;
}

#title {
    color: white;
	font-family: "Quicksand", sans-serif;
	font-weight: lighter;
	font-size: 7vw;
	letter-spacing: 0.4em;
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

.leaderboard {
	transform: skewX(3deg) skewY(2deg);
	font-size: .9em;
	z-index: 1;
	position: fixed;
	margin-top: 5%;
	margin-left: 7%;
}

.record {
    transform: skewX(-3deg) skewY(-2deg);
    position: fixed;
    text-align: right;
    width: 93%;
    font-size: 1.2em;
    z-index: 1;
    margin-top: 5%;
    float: right;
    margin-left: auto;
}

.instructions {
    font-size: 2em;
    z-index: 1;
    position: fixed;
      top: 78%;
      left: 50%;
      transform: translate(-50%, -50%);
    text-align: center;

}

.status {
	font-size: 3em;
	z-index: 1;
	position: fixed;
	  top: 20%;
	  left: 50%;
	  transform: translate(-50%, -50%);
    text-align: center;

}

/*.abilities {
	transform: skewX(-2deg) skewY(-5deg);
	font-size: 3em;
	z-index: 1;
	position: fixed;
	bottom: 5%;
	margin-left: 7%;
}*/

.score {
	transform: skewX(2deg) skewY(4deg);
	position: fixed;
    text-align: right;
    width: 93%;
    font-size: 1.8em;
    z-index: 1;
    bottom: 10%;
    float: right;
    margin-left: auto;
}

.score-row{
    text-align: right;
}

#play-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    font-size: 3.5vh;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid;
    border-radius: 14px;
    background-color: transparent;
    text-align: center;
    padding: 1vh 1vw;
}

#name-box{
    font-weight: bold;
    color: white;
    position: fixed;
    font-size: 4vh;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 7vh;
    border: 1px solid;
    border-radius: 8px;
    background-color: transparent;
    text-align: center;
}

#github {
    font-size: 2vh;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 95%;
    left: 50%;
    transform: translate(-50%,0%);
    text-align: center;

}

.icon-github {
  color: white;
}

.fa-github {
  color: white;
}

#chat-button {
    position: fixed;
    margin: auto;
}

#chat-box {
    transform: skewX(-2deg) skewY(-4deg);
    font-size: 1.1em;
    bottom: 5%;
    margin-left: 7%;
    position: fixed;
    text-align: left;
    width: 35%;
    max-width: 20em;
    z-index: 1;
    float: right;
}

.message-item {
    font-size: 0.85em;
    padding: 1% 2.5%;
    word-wrap: break-word;
    border-bottom: 1px solid #555;
}

#new-message {
    height: 3rem;
    box-sizing: inherit;
    padding-top: 0.5em;
    padding-left: 2.5%;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa;
}

#new-message, #last-message {
    padding-left: 2.5%;
    margin: 0;
}

#message-box, #last-message {
    background-color: rgba(0,0,0,0.4);
}

#last-message {
    overflow: hidden;
}

#message-list {
    border: 1px solid #aaa;
    margin: 0 0 -0.5em;
    overflow: scroll;
    height: 8em;
}

#close-chat {
    float: right;
    margin-left: -2.5em;
    font-size: 0.4em;
}

#open-message {
    padding-left: 2.5%;
}
